* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  text-align: center;
  color: #000f08;
  font-family: "Open Sans";
}

/* Navbar */

nav {
  background-color: #000f08;
  color: white;
  text-align: left;
  padding: 20px 120px;
  font-size: 25px;
}

nav li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 60px;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav ul li a img {
  filter: invert(1); 
}

/* Hero Section */

header {
  text-align: right;
  background-image: url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
  text-shadow: 0px 3px 6px #00000080;
}

header h1 {
  font-size: 60px;
  font-weight: 900;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
}

/* Ubicación */

#Ubicacion {
  padding: 150px;
}

#Ubicacion h2 {
  font-size: 45px;
  margin: 40px 0px 20px 0px;
}

#Ubicacion p {
  font-size: 25px;
}

/* HEADER */

header {
  text-align: right;
  background-image: url(../img/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  
  font-family: monospace;
  text-shadow: 0px 3px 6px black;
  color: white;
}
header h1 {
  font-size: 70px;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
}
/* UBICACION  */

#ubicacion {
  text-align: center; /* imagen centrada */
  margin-top: 100px;
}

#ubicacion img {
  display: block; /* convierte la imagen en bloque */
  margin: 0 auto; /* horizontal */
}

#ubicacion h2 {
  font-size: 40px;
  margin: 40px 0 20px; 
}

#ubicacion p {
  font-size: 30px;
}

#Proxima-charla {
  background-color: #d35400; 
  color: white;  
  padding: 100px; 
}
/* Próxima charla */


#Proxima-charla img {
  height: 400px;
}

#Proxima-charla img,
.texto {
  display: inline-block;
  vertical-align: middle;
}

#Proxima-charla .texto {
  text-align: left;
  width: 100%;
  margin-left: 100px;
}

#Proxima-charla .texto h3 {
  font-size: 45px;
}

#Proxima-charla .texto h4 {
  font-size: 40px;
  padding-bottom: 10px;
}

#Proxima-charla .texto h6 {
  font-size: 33px;
}

#Proxima-charla .texto span {
  font-size: 20px;
}

#Proxima-charla .texto p {
  font-size: 25px;
}

#Proxima-charla .texto h6,
span,
p {
  font-weight: 400;
}

/* Eventos */

#eventos {
display: flex;
justify-content: space-between;
align-items: center;
padding: 100px; 
}

#eventos h2 {
font-size: 50px;
margin-bottom: 40px;
}

#eventos article {
flex: 0 0 30%;
text-align: center;
margin: 10px;
display: inline-block;
margin: 0px 50px;
font-size: 30px;
}
#eventos article img {
margin-bottom: 30px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 120px;
  font-size: 20px;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos hijos */
  justify-content: center; /* Centra horizontalmente los elementos hijos */
}

footer a {
  color: white;
  text-decoration: none;
}

footer img {
  filter: invert(1);
  margin-bottom: 30px;
}


